@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
#abc{
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Monoton', cursive;

}


div#bd_time_start {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    color: #0d7b00;
    font-family: 'Orbitron', sans-serif;
}
div#italy_time_start {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
    color: #ff00c8;
    font-family: 'Press Start 2P', cursive;
}
div#india_time_start {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    color: #ff4700;
    font-family: 'Monoton', cursive;
}
div#usa_time_start {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    color: #1b00ff;
    font-family: 'Fredericka the Great', cursive;
}
div#uk_time_start {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    color: #ff0000;
    font-family: 'Bungee Inline', cursive;
}